---
layout: default
consultingRating: "4.0"
satisfactionRating: "4.5"
serviceRating: "2.0"
vbName: "Carsten Walther"
vbImageUrl: "https://www.dvag.de/content/dam/vbdata/dvag/c/a/r/carsten.walther/vbportrait_mask_01.png/jcr:content/renditions/cq5dam.vignetteimagehalfshot.180.180.png"
vbHomepageUrl: "#"
vbLocation: "Berlin"
mainRating: 4.5
headline: "Sehr zufrieden!"
text: "Wir haben all unsere Versicherungen und Sparmöglichkeiten bei ihm abgeschlossen, da wir stets super Angebote bekommen. Bei Problemen hilft er uns sofort und …"
customerName: "Max Mustermann"
createdAt: "1504095567183"
customerInfo: "Kunde seit 2022"
---

<dvag-m-c01e-teaser class="dvag-m-c01e-teaser"
                     teaser-index="{{this.teaserIdx}}"
                     consulting-rating="{{this.consultingRating}}"
                     satisfaction-rating="{{this.satisfactionRating}}"
                     service-rating="{{this.serviceRating}}"
                     vb-name="{{this.vbName}}"
                     vb-image-url="{{this.vbImageUrl}}"
                     vb-homepage-url="{{this.vbHomepageUrl}}"
                     vb-location="{{this.vbLocation}}">
  <div class="dvag-m-c01e-teaser__content">
    <div class="dvag-m-c01e-teaser__rating-wrapper">
      <dva-m-rating-box 
        class="dva-m-rating-box dvag-m-c01e-teaser__main-rating" 
        rating="{{this.mainRating}}">
      </dva-m-rating-box>
      <p class="dvag-m-c01e-teaser__rating-label">
        {{this.mainRating}} von 5 Sternen
      </p>
    </div>
    <h3 class="dvag-m-c01e-teaser__headline">{{this.headline}}</h3>
    <p class="dvag-m-c01e-teaser__text">{{this.text}}</p>
    <p class="dvag-m-c01e-teaser__full-text">{{this.text}}</p>
    <a href="#" class="dva-e-link dvag-m-c01e-teaser__cta">
      <span class="dva-e-link__label">Mehr erfahren</span>
      <dva-e-icon class="dva-e-icon" icon-id="dva-icon-arrow-right-48px"></dva-e-icon>
    </a>
  </div>                   
  <div class="dvag-m-c01e-teaser__footer">
    <h4 class="dvag-m-c01e-teaser__customer-label">
      Bewertet von:
    </h4>
    <p class="dvag-m-c01e-teaser__customer-name">
      {{this.customerName}}
    </p>
    <p class="dvag-m-c01e-teaser__customer-info">
      <span class="dvag-m-c01e-teaser__rating-date" date="{{this.createdAt}}"></span>, <span class="dvag-m-c01e-teaser__customer-information">{{this.customerInfo}}</span>
    </p>
  </div>
</dvag-m-c01e-teaser>
