---
layout: default
title: "[C19] CTA Block"
---

<div class="AEM-WRAPPER-ELEMENT {{cssClasses}}">
  <dvag-m-c19-cta-block class="dvag-m-c19-cta-block" style="--background-color:{{pv-choose this.backgroundColor '#fff'}}" vb-file-url="{{vbFileUrl}}">
    <!-- vb-content start -->
    <div class="dvag-m-c19-cta-block__vb-content">
      <div class="dvag-m-c19-cta-block__content-wrapper">
        <div class="dvag-m-c19-cta-block__inner-content-wrapper">
          <div class="dvag-m-c19-cta-block__image-wrapper dvag-m-c19-cta-block__image-wrapper--vb-image">
            {{> dva-e-lazy-image
                cssClasses="dvag-m-c19-cta-block__vb-image"
                src="../dummy-content/images/sample/cropped-portrait.png"
                alt="Alt Text"
                aspectRatio="1:1"
                wrapper="circle"
            }}
          </div>
          {{#if hasUsImage}}
          <div class="dvag-m-c19-cta-block__image-wrapper dvag-m-c19-cta-block__image-wrapper--vb-fallback">
            {{> dva-e-lazy-image
                cssClasses=""
                src="../dummy-content/images/dummy-image--2x1.jpg"
                alt="Alt Text"
                aspectRatio="1:1"
            }}
          </div>
          {{/if}}
          <div class="dvag-m-c19-cta-block__text-wrapper">
            <div class="dvag-m-c19-cta-block__text">
              <h3>Dies ist eine Headline - h3</h3>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr. Ich berate Sie gern.Lorem ipsum dolor sit amet. Ich berate Sie gern. Lorem ipsum dolor sit amet, consetetur sadipscing elitr. Ich berate Sie gern.Lorem ipsum dolor sit amet. Ich berate Sie gern.</p>
            </div>
            <p class="dvag-m-c19-cta-block__vb-info">
              Ihr Finanzcoach <span class="dvag-m-c19-cta-block__vb-name"><!-- vb name will be inserted here --></span>
            </p>
            <div class="dvag-m-c19-cta-block__button-wrapper">            
              <!-- @BE: only render button which is created by editor -->
              {{#if hasContactOverlayButton}}
                {{> dvag-e-c26-vb-contact-overlay-toggle 
                  deeplinkingTarget="termin"              
                  cssClasses="" 
                  iconID="dva-icon-speechbubbles-24px"
                  label="Jetzt Termin vereinbaren"
                }}
              {{else}}
                {{> dva-e-button
                  isRebrushButton=true
                  href="#"
                  iconID="dva-icon-speechbubbles-24px"
                  label="Primary Button"
                  cssClasses="dva-e-button--rebrush dva-e-button--small"
                }}
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- vb-content end -->

    <!-- non-vb-content start -->
    <div class="dvag-m-c19-cta-block__non-vb-content">
      <div class="dvag-m-c19-cta-block__content-wrapper">
        <div class="dvag-m-c19-cta-block__inner-content-wrapper">
          <!-- @BE: dont render div.dvag-m-c19-cta-block__image-wrapper if no image is set -->
          {{#if hasUsImage}}
            <div class="dvag-m-c19-cta-block__image-wrapper">
              {{> dva-e-lazy-image
                  src="../dummy-content/images/dummy-image--2x1.jpg"
                  alt="Alt Text"
                  aspectRatio="1:1"
                  cssClasses=""
              }}
            </div>
          {{/if}}
          <div class="dvag-m-c19-cta-block__text-wrapper">
            <div class="dvag-m-c19-cta-block__text">
              <h3>Dies ist eine Headline - h3</h3>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr. Ich berate Sie gern.Lorem ipsum dolor sit amet. Ich berate Sie gern. Lorem ipsum dolor sit amet, consetetur sadipscing elitr. Ich berate Sie gern.Lorem ipsum dolor sit amet. Ich berate Sie gern.</p>
            </div>
            <div class="dvag-m-c19-cta-block__button-wrapper">            
              <!-- @BE: only render button which is created by editor -->
              {{#if hasVbFinderButton}}
                {{> dvag-e-n06-vb-finder-overlay-toggle
                  cssClasses="" 
                  iconID="dva-icon-speechbubbles-24px"
                  label="Vermögensberater finden"
                }}
              {{else}}
                {{> dva-e-button
                  isRebrushButton=true
                  href="#"
                  iconID="dva-icon-speechbubbles-24px"
                  label="Primary Button"
                  cssClasses="dva-e-button--rebrush dva-e-button--small"
                }}
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- non-vb-content end --> 
  </dvag-m-c19-cta-block>
</div>
